* {
  box-sizing: border-box;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

body {
  max-width: 960px;
  margin:0 auto;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links {
  width:20%;
  display:inline-block;
  float: left;
  padding: 10px;
}

#external-links h1 {
  margin-top:24px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

#external-links li {
  padding-bottom: 5px;
}

main {
  width:80%;
  display:inline-block;
  float: right;
  padding: 10px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */

img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

/**********************************************
MEDIA QUERIES
**********************************************/

@media screen and (max-width: 650px) {
  #external-links{
    display: block;
    width: 100%;
    text-align: center;
  } 
  main {
    width: 100%; 
    display:block;
  }
}

/*@media screen and (max-width: 500px) {
  body {
    background-color: beige;
  }
}
*/